h1{
    font-family: 'Courier New', Courier, monospace;
    color: grey;
}

li{
    font-family: 'Courier New', Courier, monospace;
    color: grey;
}

th{
    font-family: 'Courier New', Courier, monospace;
    color: grey;
}

td{
    font-family: 'Courier New', Courier, monospace;
    color: grey;
}