#container{
    width: 800px;
    height: 450px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */

#bovenkant{
    width: 800px;
    height: 50%;
    background-color: yellow;
}
#midden{
    width: 800px;
    height: 25%;
    background-color:blue;
}

#onderkant{
    width: 800px;
    height: 25%;
    background-color:red;
}