#container{
    width: 800px;
    height: 550px;
    background-color: red;
    border: 1px solid black;
    margin: 0 auto;
}
 
 
#bovenkant{
    width: 200px;
    height: 250px;
    background-color: red;
    border-right: 50px solid white;

}
 
#onderkant{
    width: 200px;
    height: 250px;
    background-color: red;
    border-right:50px solid white ;

}
 
#midden{
    width: 800px;
    height: 50px;
    background-color: white;
}