#container{
    width: 800px;
    height: 450px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */

#links{
    display: inline-block;
    width: 300px;
    height: 100%;
    background-color: green;
}
#rechts{
    display: inline-block;
    width: 400px;
    height: 75%;
    background-color: yellow;
}
#rechtsonder{
    display: inline-block;
    width: 400px;
    height: 75%;
    background-color: red;
}

